<div class="container text-center">
    <div class="row align-items-end">
      <div class="col-2">
      </div>
      <div class="col-8">
            <h3>Nome personagem:</h3>
            <p>{{personagem.nome}}</p> 
        
            <img alt="foto-miguel" [src]="personagem.imagem">
        
            <h3>Nome do ator:</h3>
            <p>{{personagem.nomeAtor}}</p>
        
            <h3>Descrição:</h3>
            <p>{{personagem.descricao}}</p>
      </div>
      <div class="col-2">
    
      </div>
    </div>
  </div>
